{% extends 'base.html.twig' %}

{% block title %}Edit TeachingMaterial{% endblock %}

{% block body %}
    <h1>Edit TeachingMaterial</h1>

    {{ include('teaching_material/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_teaching_material_index') }}">back to list</a>

    {{ include('teaching_material/_delete_form.html.twig') }}
{% endblock %}
