{% extends 'base.html.twig' %}

{% block title %}Lernmaterialien{% endblock %}

{% block pageTitle %}Lernmaterialien{% endblock %}

{% block body %}
    <div {{ vue_component('TeachingMaterials') }}></div>
{% endblock %}