{% extends 'base.html.twig' %}

{% block title %}New TeachingMaterial{% endblock %}

{% block body %}
    <h1>Create new TeachingMaterial</h1>

    {{ include('teaching_material/_form.html.twig') }}

    <a href="{{ path('app_teaching_material_index') }}">back to list</a>
{% endblock %}
