{% extends 'base.html.twig' %}

{% block title %}Nachhilfetermin{% endblock %}

{% block pageTitle %}Nachhilfetermin{% endblock %}

{% block body %}
    <div {{ vue_component('TutoringAppointment') }}></div>
{% endblock %}