{% extends 'base.html.twig' %}

{% block title %}Marketing{% endblock %}

{% block pageTitle %}Marketing{% endblock %}

{% block body %}
    <div {{ vue_component('MarketingMaterials') }}></div>
{% endblock %}