{% extends 'base.html.twig' %}

{% block title %}New MarketingMaterial{% endblock %}

{% block body %}
    <h1>Create new MarketingMaterial</h1>

    {{ include('marketing_material/_form.html.twig') }}

    <a href="{{ path('app_marketing_material_index') }}">back to list</a>
{% endblock %}
