{% extends 'base.html.twig' %}

{% block title %}Edit Tip{% endblock %}

{% block body %}
    <h1>Edit Tip</h1>

    {{ include('tip/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tip_index') }}">back to list</a>

    {{ include('tip/_delete_form.html.twig') }}
{% endblock %}
