doctrine:
    dbal:
        default_connection: default
        connections:
            default:
                url: '%env(resolve:DATABASE_URL)%'
            sqlite:
                url: '%env(resolve:DATABASE_URL)%'
    orm:
        auto_generate_proxy_classes: true
        enable_lazy_ghost_objects: true
        report_fields_where_declared: true
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            App:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App
        controller_resolver:
            auto_mapping: false

when@test:
    doctrine:
        dbal:
            # "TEST_TOKEN" is typically set by ParaTest
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
    doctrine:
        dbal:
            default_connection: default
            connections:
                default:
                    url: '%env(resolve:DATABASE_URL)%'
                    driver: pdo_mysql
                    server_version: '8.0.32'

when@dev:
    doctrine:
        dbal:
            default_connection: default
            connections:
                default:
                    url: '%env(resolve:DATABASE_URL)%'
                    driver: pdo_sqlite
                    path: '%kernel.project_dir%/var/data.db'