{% extends 'base.html.twig' %}

{% block title %}New Honorarium{% endblock %}

{% block body %}
    <h1>Create new Honorarium</h1>

    {{ include('honorarium/_form.html.twig') }}

    <a href="{{ path('app_honorarium_index') }}">back to list</a>
{% endblock %}
