@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100 900; /* Supports weights from 100 to 900 */
    src: url('/assets/fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 100 900; /* Supports weights from 100 to 900 */
    src: url('/assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
}

/* Set the default font family to Raleway */
@layer base {
    html {
        font-family: "Raleway", system-ui, sans-serif;
    }
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 999px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}