{% extends 'base.html.twig' %}

{% block title %}Benutzer Registrieren{% endblock %}

{% block pageTitle %}Benutzer Registrieren{% endblock %}

{% block body %}
    <div {{ vue_component('Registration') }}></div>
{% endblock %}

